@charset "UTF-8";

#wrap {
	width:1200px;
	margin:0 auto;
}

header {
	height:70px;
	background-color:#cccccc;
}

.contents > .join-box {
	width:350px;
}

.contents > .post-box {
	width:700px;
}

footer {
	height:50px;
	background-color:#cccccc;
}